form {
  width: 80vw;
}

h2 {
  color: green;
}

.btn {
  background-color: green;
  color: white;
}

/* :not(form) -> Aplica o estilo apenas nos campos do form e não na tag form  */
.ng-invalid.ng-touched:not(form) {
  border: 1px solid red;
}
